<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.auth.mapper.CorpInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.base.auth.entity.CorpInfo">
        <id column="id" property="id" />
        <result column="company_name" property="companyName" />
        <result column="district" property="district" />
        <result column="key_process" property="keyProcess" />
        <result column="company_code" property="companyCode" />
        <result column="registered_capital" property="registeredCapital" />
        <result column="capital" property="capital" />
        <result column="qualifications" property="qualifications" />
        <result column="is_statistical" property="isStatistical" />
        <result column="statistical_industry" property="statisticalIndustry" />
        <result column="participate_old" property="participateOld" />
        <result column="business_plan" property="businessPlan" />
        <result column="main_products" property="mainProducts" />
        <result column="term_explanation" property="termExplanation" />
        <result column="create_time" property="createTime" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_user_name" property="createUserName" />
        <result column="update_time" property="updateTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_user_name" property="updateUserName" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

</mapper>
