<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.auth.mapper.CorpInfoExternMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.base.auth.entity.CorpInfoExtern">
        <id column="id" property="id" />
        <result column="corp_id" property="corpId" />
        <result column="main_products" property="mainProducts" />
        <result column="product_leadership_status" property="productLeadershipStatus" />
        <result column="domestic_international_market" property="domesticInternationalMarket" />
        <result column="key_project_participation" property="keyProjectParticipation" />
    </resultMap>

</mapper>
